/* Este archivo contiene nuestra paleta de colores y pocas 
caracteristicas */
* {
  margin: 0;
  padding: 0;
  --verde_oscuro: #1c6758;
  --verde_neutro: #3D8361;
  --beige: #D6CDA4;
  --verde_claro: #EEF2E6;
}

body {
  background-color: #eee;
}