/* 
  Este archivo importa las fuentes descargadas
*/
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: GreatVibes;
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}