@import url("/src/font_face.css");
@import url("/src/color.css");

.navbar {
  background-color: var(--verde_oscuro);
  color: #fff;
  font-family: Lato;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  z-index: 1000;
}

.navbar h2 {
  padding: 4px .5em;
  font-family: GreatVibes;
  font-size: 2em;
  font-stretch: extra-expanded;
}

.navbar h2 a {
  text-decoration: none;
  color: #fff;
}

.navbar h2 a:hover {
  color: var(--beige);
}

.navbar .index {
  padding: 0 .5em;
}

.navbar .index li {
  display: inline-block;
  padding: .5em 2px;
}

.navbar .index li a {
  padding: .5em;
}

.navbar .index li:hover {
  background-color: var(--verde_neutro);
  border-radius: 15px;
}

.navbar .index li a:hover {
  color: var(--beige);
}

.navbar .index li a {
  text-decoration: none;
  color: #fff;
}