@import url("/src/navbar.css");
@import url("/src/footer.css");

.menu {
  font-family: Lato;
  min-height: 100vh;
}

.menu .presentacion {
  background-position: center;
  width: 100%;
  margin: auto 0;
  background-image: url("/imgs/wide_image.jpg");
  width: 100%;
  font-family: Montserrat;
  font-size: 2em;
  color: #000;
  position: relative;
  text-align: center;
}

.presentacion::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, .25);
}

.menu .presentacion .titulo {
  font-family: GreatVibes;
}

.menu .platillo {
  width: 100%;
}

.menu .secciones {
  margin: 1em .5em;
  padding: .5em;
  padding-bottom: 2.5rem;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 0px 4px 1px #494949;
}

.menu .secciones h2 {
  text-align: center;
}

hr {
  margin: .5em 0;
}

.menu .secciones .seccion {
  padding: .5em 0;
}

.menu .secciones .seccion h3,
p {
  padding: 2px 0;
  line-height: 1.5;
}

.menu .secciones .seccion .ejemplos {
  padding: 1em 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.menu .secciones .seccion .ejemplos .ejemplo {
  width: 15em;
  border-radius: 1em;
}

.menu .secciones ul {
  padding-left: 2em;
}